{% extends "index.html" %}

{% block title %}Create todo{% endblock %}

{% block content %}
<div class="todo">
    <main>
        <h2>To Do:</h2>
        <section>
            <form class="addTodo" action="/todo/createTodo" method="post">
                <input type="text" placeholder="Name your todo list" name="listName" id="listName">

                <input type="text" placeholder="What needs doing?" name="todo1" id="todo1">
                <input type="submit" value="submit">
            </form>
        </section>
    </main>
    {% include("warning.html") %}
    <a href="/todo/viewLists">Back to overview</a>
</div>
<!-- <script src="/src/js/add_todo.js"></script> -->
{% endblock %}