<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="dist/css/style.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="/" class="nav-link">Home</a>
            <div class="navmenu">
                <a href="#" class="nav-link">View lists</a>
                <a href="#" class="nav-link">Add a new list</a>
                <a href="/user/logout" class="nav-link">Log out</a>
            </div>
        </nav>
    </header>
</body>

</html>