<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="dist/css/style.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a href="/" class="nav-link">Home</a>
            <div class="navmenu">
                <div class="nav-item">
                    <a href="/library/library" class="nav-link">To the library</a>
                </div>
                <div class="nav-item">
                    <a href="/library/publisheradd" class="nav-link">Add a publisher</a>
                </div>
                <div class="nav-item">
                    <a href="/authors/authors" class="nav-link">To the authors API endpoint</a>
                </div>
                <div class="nav-item">
                    <a href="/user/logout" class="nav-link">Log out</a>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>