<div class="lists">

    <h1>{{ list.name }}</h1>
    <div class="headings">
        <h3>Task</h3>
        <h3>Done</h3>
    </div>
    <form action="updateList" method="POST">
        {% set i = 1 %}
        {% for todo in todos %}
        <div class="todoRow">
            <input type="text" name="task{{ i }}" value="{{ todo.task }}">
            {% if todo.done == yes %}
            <input type="checkbox" name="done{{ i }}" checked>
            {% else %}
            <input type="checkbox" name="done{{ i }}" unchecked>
        </div>
        {% endif %}
        {% set i = i + 1 %}
        {% endfor %}
        <input type="submit" name="update" value="Update tasks">
    </form>
    <div class="todoWarning">{% include('warning.html') %}</div>
    <a href="/todo/viewLists">Back to overview</a>
</div>