<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/./src/css/login.css" />
    <title>Log-in</title>
</head>

<body>
    <section class="center">
        <h2>Welkom op de {{ pageTitle }} pagina!</h2>

        <form action="/user/login" method="POST">
            <div class="login">
                <input type="text" name="username" placeholder="Username" />
            </div>
            <div class="login">
                <input type="password" name="password" placeholder="Password" />
            </div>

            <input type="submit" value="login" name="login" />
        </form>
        <p class="errorMessage">{{ errorMessage }}</p>
    </section>

</body>

</html>