<div class="login">
    <section class="center">
        <div class="welcome">
            <h2>Prepare to chart out your day!</h2>
        </div>
        <form action="/user/login" method="POST">
            <input type="text" name="username" placeholder="Username" />
            <input type="password" name="password" placeholder="Password" />
            <input type="submit" value="login" name="login" />
            <!-- <p class="errorMessage">{{ warning }}</p> -->
            {% include('warning.html') %}
        </form>
    </section>
</div>