<div class="todo">
    <main>
        <h2>To Do:</h2>
        <section>
            <form class="addTodo" action="/todo/todo" method="post">
                <input type="text" placeholder="Name your todo list" name="list_name" id="listName">

                <input type="text" placeholder="What needs doing?" name="todo1" id="todo1">
                <input type="text" placeholder="What needs doing?" name="todo2" id="todo2">
                <input type="text" placeholder="What needs doing?" name="todo3" id="todo3">
                <input type="text" placeholder="What needs doing?" name="todo4" id="todo4">
                <input type="text" placeholder="What needs doing?" name="todo5" id="todo5">
                <input type="text" placeholder="What needs doing?" name="todo6" id="todo6">

                <input type="submit" value="submit">
            </form>
            <p class="todoError"> {{ error }} </p>
        </section>
    </main>
</div>
<!-- <script src="/src/js/add_todo.js"></script> -->