@use "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 63%;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url("/src/views/img/topography.svg");
}

.header {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .navmenu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;


        }
    }
}

.form {
    padding-left: variables.$body-margin;

    input {
        margin-left: 20px;
    }
}
