@use "variables";

.header {
  background-color: variables.$dark-blue;
  height: 33px;

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .navmenu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .nav-link {
      font-size: 1.4rem;
      font-weight: 400;
      color: whitesmoke;
      text-decoration: none;
      list-style: none;
      margin: 0 2rem;
    }

    .nav-link:hover {
      color: #f1be16;
    }
  }
}
