@use "variables";

.login {
    display: flex;
    
    margin: auto;
    margin-top: 15vh;
    padding: 8px;
    width: 450px;
    height: 320px;

    background-color: variables.$transparentSlate;
    border-radius: 12px;
    
    .center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
    }
        .welcome {
            height: 100%;
            width: 35%;
            padding-top: 22%;
            padding-right: 6%;
            text-align: end;            
            color: variables.$dark-blue;
            border-right: 3px solid variables.$slate;
            font-style: italic;
        }
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            align-items: center;
            padding: 8px;
            
            input {
                margin: 7px;
                border: none;
                width: auto;
                border-radius: 14px;
                text-align: center;
            }
            
            input[type=submit] {
                width: 90px;
                height: auto;
                font-size: large;
                background-color: variables.$slate;
                color: whitesmoke;
            }
            
            .errorMessage {
                color: red;
                text-overflow: clip;
            }
        }
}
    

