@use "variables";

.login {
    display: flex;
    align-items: center;
    
    margin: auto;
    margin-top: 15vh;
    padding: 8px;
    width: 500px;
    height: 320px;

    background-color: variables.$transparentSlate;
    border-radius: 12px;

    .welcome {
        height: 100%;
        width: 45%;
        padding-top: 18%;
        padding-right: 4%;
        text-align: end;            
        color: variables.$dark-blue;
        border-right: 3px solid variables.$slate;
        font-style: italic;
    }
    
    .formContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        width: 100%;
        height: 100%;
    
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 8px;
            
            input {
                margin: 7px;
                border: none;
                width: auto;
                border-radius: 14px;
                text-align: center;
            }
            
            input[type=submit] {
                width: 90px;
                height: auto;
                font-size: large;
                background-color: variables.$slate;
                color: whitesmoke;
            }
            
        }
    }
}
    

