// Colors
$dark-blue: #132732;
$slate: #113b52;
$white: #f5f5f5;
$red: #EE5764;
$blue: #20C6D7;
$green: #57BE8E;
$teal: #1c96a3;
$yellow: #bbd658;

$headerBackgroundLight: #c0540c;
$bodyBackgroundLight: #fffafa;

// margins
$body-margin: 50px;