@use "variables";

.lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;

    margin: auto;
    margin-top: 15vh;
    width: 600px;
    padding: 14px;
    
    text-align: justify;
    
    background-color: variables.$transparentOffWhite;
    // background-image: url("/src/views/img/topography.svg");
    border-radius: 14px;
    
    .headings {
        display: flex;
        justify-content: space-evenly;
        width: inherit;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: inherit;
        overflow-wrap: normal;

        .todoRow {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-bottom: 3px;
            width: inherit;
        }

        input {
            border: none;
            background-color: variables.$dark-blue;
            border-radius: 14px;
            text-align: center;
            color: white;
            padding: 0px 4px;
            text-overflow: ellipsis;
        } 

    }
}