@use "login";
@use "header";
@use "home";
@use "create_todo";
@use "view_lists";
@use "error";
@use "warning";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 12pt;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("/src/views/img/background.avif");
    background-size: cover;
}
