@use "variables";
@use "login";
@use "header";
@use "home";
@use "todo";
@use "view_lists";
@use "error";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url("/src/views/img/topography.svg");
}
